WorkingDirectory/DaisyPipeline/transformers/se_tpb_wordml2dtbook/tagsets/tagset.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.tpb.se/ns/2006/wml2dtbook" targetNamespace="http://www.tpb.se/ns/2006/wml2dtbook" elementFormDefault="qualified">
	<xs:element name="character">
		<xs:annotation>
			<xs:documentation>Contains all character styles that should be addressed</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tag" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Defines a style</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="cTagChoice"/>
						<xs:attribute name="name" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Defines the style name</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="useInlineFormatting" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="comment" type="xs:string">
		<xs:annotation>
			<xs:documentation>Defines that the style should become a comment</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="custom">
		<xs:annotation>
			<xs:documentation>Defines a set of customized rules</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="paragraphs"/>
				<xs:element ref="character"/>
			</xs:sequence>
			<xs:attribute name="style" type="xs:ID" use="required">
				<xs:annotation>
					<xs:documentation>Identifies this custom set</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="map">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="attribute"/>
			</xs:sequence>
			<xs:attributeGroup ref="value"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="mappings">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="standardWord" maxOccurs="unbounded"/>
				<xs:element ref="custom" maxOccurs="unbounded"/>
			</xs:choice>
			<xs:attribute name="version" type="xs:string" use="required" fixed="2006-1"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="noteref" type="xs:string">
		<xs:annotation>
			<xs:documentation>Defines</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="pagenum" type="xs:string">
		<xs:annotation>
			<xs:documentation>Defines</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="paragraphs">
		<xs:annotation>
			<xs:documentation>Contains all paragraph styles that should be addressed</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tag" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Defines a style</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:group ref="pTagChoice"/>
						<xs:attribute name="name" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Defines the style name</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="listOverride" type="xs:boolean" use="optional" default="false"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="standardWord">
		<xs:annotation>
			<xs:documentation>Defines a set of default mappings to built-in Word styles</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="paragraphs"/>
				<xs:element ref="character"/>
			</xs:sequence>
			<xs:attribute name="version" use="required">
				<xs:annotation>
					<xs:documentation>Defines the version of the built-in tag set</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:group name="cTagChoice">
		<xs:choice>
			<xs:element ref="map"/>
			<xs:element ref="pagenum"/>
			<xs:element ref="noteref"/>
			<xs:element ref="comment"/>
		</xs:choice>
	</xs:group>
	<xs:group name="pTagChoice">
		<xs:choice>
			<xs:element ref="map"/>
			<xs:element ref="wrap"/>
			<xs:element ref="comment"/>
		</xs:choice>
	</xs:group>
	<xs:element name="wrap">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="using"/>
				</xs:sequence>
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="attribute"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="value" type="xs:NMTOKEN" use="required">
				<xs:annotation>
					<xs:documentation>Defines the tag to wrap with</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="addId" use="required">
				<xs:annotation>
					<xs:documentation>Defines if a unique id should be added to this tag</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="merge" use="required">
				<xs:annotation>
					<xs:documentation>Defines if consecutive styles should be merged within the same wrapping tag</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="attribute">
		<xs:annotation>
			<xs:documentation>Defines attributes that should be added to the wrapping tag</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="value" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Defines the value</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="name" type="xs:NMTOKEN" use="required">
				<xs:annotation>
					<xs:documentation>Defines the name</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="using">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="attribute"/>
			</xs:sequence>
			<xs:attributeGroup ref="value"/>
		</xs:complexType>
	</xs:element>
	<xs:attributeGroup name="value">
		<xs:attribute name="value" type="xs:NMTOKEN" use="required">
			<xs:annotation>
				<xs:documentation>Defines the value</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
</xs:schema>
