WorkingDirectory/DaisyPipeline/transformers/se_tpb_wordml2dtbook/docs/history.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="rnib.org.uk/tbs#" targetNamespace="rnib.org.uk/tbs#" elementFormDefault="qualified">
	<xs:element name="author">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="date">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="description">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="para" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="history">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="purpose"/>
				<xs:element ref="revision" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="para" type="xs:string"/>
	<xs:element name="purpose">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="para"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="remark">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="para" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="revision">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="version"/>
				<xs:element ref="date"/>
				<xs:element ref="author"/>
				<xs:element ref="description"/>
				<xs:element ref="remark" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="version">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
</xs:schema>
